### Initialization

In [105]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
import json
import requests

### Retrieve data

In [106]:
df = pd.read_csv('Lol_data.csv')

In [107]:
df.head()

,Target Champ,Enemy 1,Enemy 2,Enemy 3,Enemy 4,Enemy 5,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Player puuid,Match ID,Date added,Patch
0,Sett,Garen,Gwen,Zed,Jinx,Karma,1055,6630,3133,3067,3047,0,vvmyahdFFDwTptOo3rlb5-qNpfpIUAY_Tbbs7UpA9MJyh7...,KR_5738299499,5/2/2022,12.3
1,Sett,Fiora,Nidalee,Sylas,Ashe,Lulu,1055,3153,6662,3047,0,0,vvmyahdFFDwTptOo3rlb5-qNpfpIUAY_Tbbs7UpA9MJyh7...,KR_5738284177,5/2/2022,12.3
2,Sett,Kennen,LeeSin,Yone,Jhin,Yuumi,1054,6631,3044,3111,1037,0,vvmyahdFFDwTptOo3rlb5-qNpfpIUAY_Tbbs7UpA9MJyh7...,KR_5738059533,5/2/2022,12.3
3,Sett,Mordekaiser,Graves,Ekko,Jhin,Lux,3748,3153,3047,6662,1036,1036,vvmyahdFFDwTptOo3rlb5-qNpfpIUAY_Tbbs7UpA9MJyh7...,KR_5738130364,5/2/2022,12.3
4,Sett,Gnar,XinZhao,Leblanc,Zeri,Xerath,1054,6631,1036,3047,0,0,vvmyahdFFDwTptOo3rlb5-qNpfpIUAY_Tbbs7UpA9MJyh7...,KR_5737837114,5/2/2022,12.3

### Preprocessing

#### Input

In [108]:
X = df.loc[:,['Enemy 1','Enemy 2','Enemy 3','Enemy 4','Enemy 5']]
print('\nrow, col = ',X.shape)
X.head()

row, col =  (1200, 5)

       Enemy 1  Enemy 2  Enemy 3 Enemy 4 Enemy 5
0        Garen     Gwen      Zed    Jinx   Karma
1        Fiora  Nidalee    Sylas    Ashe    Lulu
2       Kennen   LeeSin     Yone    Jhin   Yuumi
3  Mordekaiser   Graves     Ekko    Jhin     Lux
4         Gnar  XinZhao  Leblanc    Zeri  Xerath

#### Output

In [109]:
y = df.loc[:,['Item 1','Item 2','Item 3','Item 4','Item 5','Item 6']]
print('\nrow, col = ',y.shape)
y.head()

row, col =  (1200, 6)

   Item 1  Item 2  Item 3  Item 4  Item 5  Item 6
0    1055    6630    3133    3067    3047       0
1    1055    3153    6662    3047       0       0
2    1054    6631    3044    3111    1037       0
3    3748    3153    3047    6662    1036    1036
4    1054    6631    1036    3047       0       0

#### Split to train and test

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [111]:
print('X_train shape : ',X_train.shape,'\ny_train shape : ',y_train.shape,'\nX_test shape : ',X_test.shape,'\ny_test shape : ',y_test.shape)

X_train shape :  (960, 5)
y_train shape :  (960, 6)
X_test shape :  (240, 5)
y_test shape :  (240, 6)

#### Transform champions names to numbers

In [112]:
json_file = open("Lol_champion_list.json")
champ_dict = json.load(json_file)
json_file.close()

In [113]:
def champ_to_value(X):
    return champ_dict[X]

In [114]:
for i in range(1,6):
    enemy_str = 'Enemy '+str(i)
    test = map(champ_to_value,X[enemy_str])
    X[enemy_str] = list(test)

In [115]:
X.head()

   Enemy 1  Enemy 2  Enemy 3  Enemy 4  Enemy 5
0       35       39      153       50       53
1       31       83      118       10       70
2       59       65      149       49      151
3       77       38       26       49       71
4       36      147       64      154      146

### Model

In [ ]:
model = tf.keras.Sequential([
    
])